<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

		<insert id="addMember" parameterType="hashMap">
			insert all
			into member
			values (#{userid}, #{passwd}, #{username}, #{email1}, #{email2}, #{phone}, sysdate)
			into address (userid, post_num, addr1, addr2, address_id)
			values (#{userid}, #{post_num}, #{addr1}, #{addr2}, address_address_id_seq.nextval)
			into profile 
			values (#{userid}, 'user.png', ' ')
			select * from dual
		</insert>
		
		<select id="checkId" parameterType="String" resultType="int">
			select count(*) from member where userid=#{userid}
		</select>
		
		<select id="loginMember" parameterType="hashMap" resultType="MemberDTO">
			select userid, passwd, username, email1, email2, phone, created_at
			from member where userid=#{userid} and passwd=#{passwd}
		</select>
		<select id="selectMember" parameterType="String" resultType="MemberDTO">
			select * from member
			where userid = #{userid}
		</select>
</mapper>