<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UtilMapper">

<select id="countVisitToday" resultType="int">
	select NVL(
		(select count from counter 
		where TO_CHAR(count_date,'YY/MM/DD') = TO_CHAR(CURRENT_DATE,'YY/MM/DD')), 0)
    from dual
</select>

<select id="countVisitYesterday" resultType="int">
	select NVL(
		(select count from counter 
		where TO_CHAR(count_date,'YY/MM/DD') = TO_CHAR(CURRENT_DATE-1,'YY/MM/DD')), 0)
    from dual
</select>

<insert id="addVisit">
	insert into counter (count, count_date) 
	values (1, CURRENT_DATE)
</insert>

<update id="updateVisit">
	update counter 
	set count=count+1
	where TO_CHAR(count_date,'YY/MM/DD') = TO_CHAR(CURRENT_DATE,'YY/MM/DD')
</update>

</mapper>